@import './index.scss';

.diferencial{
    margin: 2rem 0;
    @media (min-width: map-get($breakpoint, "lg")) {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 5rem;

    }
    .qualidade, .descontracao, .atividades, .texto-destaque {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: map-get($breakpoint, "lg")) {
            .img-qualidade, .img-descontracao, .img-atividades {
                img {
                    height: 10rem
                }
            }
        }
       
       
        h2 {
            @include texto-titulo();
            margin-top: 2rem;
        }
        p {
            @include texto-paragrafo ();
            @media (min-width: map-get($breakpoint, "lg")) {
                width: 22rem;
            }
        }
        
    }
    
}
.img-bottom {
    display: none;
    @media (min-width: map-get($breakpoint, "lg")) {
        display: flex;
        justify-content: center;
        margin: 3rem 0;
    }
    @media (min-width: map-get($breakpoint, "xxl")) {
        
        height: 27rem;
        margin: 5rem 0;
    }
}
