@import './index.scss';
.equipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    
    .titulo-equipe {
        @include texto-titulo();
        width: 20rem;
        
    }
    .carrosel-mobile-equipe{
        img {
            padding: 3rem 0;
            height: 25rem;
        }
    }
    .img-equipe {
        display: none;
        img {
            margin: 2rem ;
            height: 16rem;
            
        }
    }
}