// Tamanho das fontes 

$tamanho-letra-titulo: 1.5rem;

$tamanho-letra-SubTitulo: 1.25rem;

$tamanho-letra-paragrafo: 1rem ;

$fonte: 'Raleway' ;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
