@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
html, body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

html, body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

html, body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

.img-container {
  overflow-x: hidden;
}
.img-container .inner-img-container img {
  position: relative;
}
@media (min-width: 992px) {
  .img-container .inner-img-container img {
    width: 100%;
  }
}
.img-container .texo-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-container .texo-header .inner-img-text {
  position: absolute;
  margin-top: -15rem;
}
.img-container .texo-header .inner-img-text h1 {
  font-size: 2.5rem;
  color: white;
  text-shadow: 5px 1px 2px rgba(110, 107, 107, 0.55);
  font-weight: bold;
}
@media (min-width: 768px) {
  .img-container .texo-header .inner-img-text h1 {
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  .img-container .texo-header .inner-img-text h1 {
    font-size: 4rem;
  }
}
@media (min-width: 1400px) {
  .img-container .texo-header .inner-img-text h1 {
    font-size: 5rem;
    margin-top: -5rem;
  }
}
.img-container .texo-header p {
  text-align: justify;
  padding: 2rem;
  font-size: 1rem;
  color: rgba(153, 151, 150, 0.9607843137);
  font-weight: bold;
  line-height: 1.8;
}
@media (min-width: 992px) {
  .img-container .texo-header p {
    text-align: center;
    margin: 0 2rem;
  }
}

html, body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

.texto-destaque {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}
.texto-destaque a {
  color: #4abdbd;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.4s;
}
.texto-destaque a:hover {
  color: #257777;
  transition: 0.4s;
}
.texto-destaque span {
  border-top: 3px solid rgba(153, 151, 150, 0.9607843137);
  padding-top: 1rem;
}
.texto-destaque span:hover {
  border-top: 3px solid rgb(48, 48, 48);
}

html, body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

.CEO-Equipe {
  background-color: rgba(240, 240, 240, 0.694);
}

@media (min-width: 992px) {
  .CEO-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
}
@media (min-width: 1400px) {
  .CEO-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.CEO-container .CEO-placeholder img {
  width: 100%;
}
@media (min-width: 992px) {
  .CEO-container .CEO-placeholder img {
    width: 35rem;
    margin: 4rem 0;
  }
}
.CEO-container .CEO-text {
  margin: 2rem 0;
}
@media (min-width: 992px) {
  .CEO-container .CEO-text {
    width: 35rem;
    margin: 0;
  }
}
@media (min-width: 1400px) {
  .CEO-container .CEO-text {
    width: 35rem;
  }
}
.CEO-container .CEO-text h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #7D7873;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 992px) {
  .CEO-container .CEO-text h1 {
    text-align: center;
  }
}
@media (min-width: 1400px) {
  .CEO-container .CEO-text h1 {
    text-align: start;
    margin-top: 3rem;
  }
}
.CEO-container .CEO-text h2 {
  font-style: italic;
  font-weight: 400;
  color: #FDB933;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
@media (min-width: 992px) {
  .CEO-container .CEO-text h2 {
    text-align: center;
    margin-top: 1rem;
  }
}
@media (min-width: 1400px) {
  .CEO-container .CEO-text h2 {
    text-align: start;
  }
}
.CEO-container .CEO-text p {
  text-align: justify;
  padding: 2rem;
  font-size: 1rem;
  color: rgba(153, 151, 150, 0.9607843137);
  font-weight: bold;
  line-height: 1.8;
}
@media (min-width: 992px) {
  .CEO-container .CEO-text p {
    padding: 3rem 0;
    margin: 0;
  }
}
@media (min-width: 1400px) {
  .CEO-container .CEO-text p {
    padding: 4rem 0;
  }
}

html, body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

.equipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}
@media (min-width: 1400px) {
  .equipe {
    padding: 0;
  }
}
.equipe .titulo-equipe {
  font-size: 1.5rem;
  font-weight: bold;
  color: #7D7873;
  text-transform: uppercase;
  text-align: center;
  width: 20rem;
}
@media (min-width: 1400px) {
  .equipe .titulo-equipe {
    width: 25rem;
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .equipe .carrosel-mobile-equipe {
    display: none;
  }
}
.equipe .carrosel-mobile-equipe img {
  padding: 3rem 0;
  height: 25rem;
}
.equipe .img-equipe {
  display: none;
}
@media (min-width: 768px) {
  .equipe .img-equipe {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2rem 0;
  }
}
.equipe .img-equipe img {
  margin: 2rem;
  height: 16rem;
}
@media (min-width: 768px) {
  .equipe .img-equipe img {
    margin: 2rem;
  }
}

html, body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

.diferencial {
  margin: 2rem 0;
}
.diferencial .qualidade, .diferencial .descontracao, .diferencial .atividades, .diferencial .texto-destaque {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.diferencial .qualidade h2, .diferencial .descontracao h2, .diferencial .atividades h2, .diferencial .texto-destaque h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #7D7873;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2rem;
}
.diferencial .qualidade p, .diferencial .descontracao p, .diferencial .atividades p, .diferencial .texto-destaque p {
  text-align: justify;
  padding: 2rem;
  font-size: 1rem;
  color: rgba(153, 151, 150, 0.9607843137);
  font-weight: bold;
  line-height: 1.8;
}

html, body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

#vagas-aberto {
  margin: 2rem 2rem;
}
#vagas-aberto h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #7D7873;
  text-transform: uppercase;
  text-align: center;
  margin: 5rem 0;
}
#vagas-aberto h2 {
  font-size: 1.25rem;
  color: #7D7873;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2.5rem;
}
#vagas-aberto .lista-vagas {
  list-style: none;
  display: flex;
  flex-direction: column;
}
#vagas-aberto .lista-vagas li {
  margin-bottom: 1rem;
}
#vagas-aberto .lista-vagas a {
  text-decoration: none;
  font-size: 1rem;
  color: #4abdbd;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.4s;
}
#vagas-aberto .lista-vagas a:hover {
  color: #257777;
  transition: 0.4s;
}
#vagas-aberto .lista-vagas span {
  text-decoration: none;
  font-size: 1rem;
  color: rgba(153, 151, 150, 0.9607843137);
  text-transform: uppercase;
  font-weight: bold;
  display: block;
}/*# sourceMappingURL=style.css.map */